[project]
	description = Common SIMP functions and classes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Tessmer (op-ct)
[access "refs/for/refs/*"]
	read = group user/Chris Tessmer (op-ct)
	push = group user/Chris Tessmer (op-ct)
	label-Code-Review = -2..+2 group user/Chris Tessmer (op-ct)
	label-Verified = -1..+1 group user/Chris Tessmer (op-ct)
	rebase = group user/Chris Tessmer (op-ct)
	removeReviewer = group user/Chris Tessmer (op-ct)
	submit = group user/Chris Tessmer (op-ct)
[access "refs/heads/*"]
	read = group user/Chris Tessmer (op-ct)
	create = group user/Chris Tessmer (op-ct)
	push = +force group user/Chris Tessmer (op-ct)
	pushMerge = group user/Chris Tessmer (op-ct)
[access "refs/tags/*"]
	push = +force group user/Chris Tessmer (op-ct)
	pushTag = group user/Chris Tessmer (op-ct)
	pushSignedTag = group user/Chris Tessmer (op-ct)
